:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
}

main {
    display: flex;
}

.count h1 {
    font: 700 36px 'Poppins', sans-serif;
    color: var(--purple);

    letter-spacing: 0.105em;
    
    position: relative;
    animation-name: letters;
    animation-duration: 1.75s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.count h2 {
    margin-top: 2.42rem;
    font: 400 72px 'Poppins', sans-serif;
    color: var(--black);
}

.count p {
    font: 400 14px 'Poppins', sans-serif;
    color: var(--text-color);

}

.count button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 10rem;
    height: 2.875rem;

    font: 400 16px 'Poppins', sans-serif;
    color: white;
    background-color: var(--purple);

    margin: 1.93rem 0 0 18.12rem;
    transition: 0.45s;
}

.count button:hover {
    opacity: 0.75;
    transition: 0.45s;

    margin-top: 1.5rem;
}

.count .top {
    margin: 11.68rem 0 0 8.25rem;
}

.count p {
    margin: 2.87rem 0 0 12.25rem;
}

.rocket {
    margin: 9.37rem 0 0 45rem;

    position: absolute;
    animation-name: fly;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
}

.subscribe {
    width: 30rem;
    height: 20rem;

    opacity: 0;
    z-index: 2;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.307);
    background-color: white;

    box-shadow: 0px 0px 100000px 100000px #00000090;

    margin: 10rem 0 0 33rem;
}

.opacity {
    opacity: 1;
    transition: 0.45s;
}

.noOpacity {
    display: none;
    opacity: 0;
    transition: 0.45s;
}

.subscribe h2 {
    font: 500 20px 'Poppins', sans-serif;
    color: var(--black);
    padding: 1rem;
}

.subscribe input {
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid var(--black);
    
    margin: 2rem 0 1.5rem 0;
}

.subscribe button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 8rem;
    height: 2.5em;

    font: 400 16px 'Poppins', sans-serif;
    color: white;
    background-color: #3bdb38;

    margin-bottom: 2rem;
    transition: 0.45s;
}

.subscribe button:hover {
    opacity: 0.75;
    transition: 0.45s;
}

.verify {
    width: 20rem;
    height: 13rem;

    position: absolute;
    display: flex;
    flex-direction: column;

    z-index: 1;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid #0000004e;
    background-color: white;

    margin: 14rem 0 0 37.25rem;
    box-shadow: 0px 0px 100000px 100000px #00000090;

}

.verify button {
    border: none;
    background-color: white;
    cursor: pointer;

    width: 1.5rem;
    height: 1.5rem;
    transition: 0.45s;

    position: absolute;
    margin: -10rem 0 0 15rem;
}

.verify button img {
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.45s;
}

.verify button:hover img {
    width: 1.8rem;
    height: 1.8rem;

    opacity: 0.75;
    transition: 0.45s;
}

.verify img {
    width: 4rem;
    height: 4rem;

    margin-bottom: 2rem;
}

.verify p {
    font: 400 15px 'Poppins', sans-serif;
    color: var(--black);
    padding: 1rem;
}

@keyframes fly {
    0% {
        margin-top: 5rem;
    }

    50% {
        margin-top: 3rem;
    }

    75% {
        margin-top: 5rem;
    }
    
    100% {
        margin-top: 5rem;
    }
}

@keyframes letters {
    0% {
        letter-spacing: 0.105em;
    }
    50% {
        letter-spacing: 0.30rem;
    }
    100% {
        letter-spacing: 0.105em;
    }
}